* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.light {
  background-color: #fff;
  color: #333;
}

body {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-weight: 800;
}



/* C2C0C1 */
